:root {
  --bg-primary: rgba(32, 23, 37, 1);
  --bg-secondary: rgb(66, 66, 66);
  --bg-tertiary: rgb(93, 93, 93);
  --bg-opacity: rgba(32, 23, 37, 0.642);
  --bg-opacity-2: rgba(32, 23, 37, 0.401);
  --color-primary: rgb(179, 0, 255);
  --color-tertiary: rgb(255, 238, 0);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}