@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --bg-primary: rgb(24, 24, 24);
  --bg-secondary: rgb(32, 32, 32);
  --bg-tertiary: rgb(49, 49, 49);

  --bg-opacity: rgba(255, 255, 255, 0.398);
  --bg-opacity-2: rgba(255, 255, 255, 0.078);

  --color-primary: rgb(179, 0, 255);
  --color-primary-2: rgb(195, 56, 255);
  --color-secondary: rgb(0, 136, 255);
  --color-secondary-2: rgb(0, 183, 255);
  --color-tertiary: rgb(255, 238, 0);
  --color-tertiary-2: rgb(255, 244, 83);

  --text-color-100: #ebebeb;
  --text-color-200: #d9d9d9;
  --text-color-300: #c8c8c8;
  --text-color-400: #ababab;
  --text-color-500: #7d7d7d;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-color-100);
  font-family: "Poppins", sans-serif;
}