.notification {
  background: var(--bg-tertiary);
  width: 350px;
  padding: 20px;
  
  display: flex;
  align-items: center;
  justify-content: space-around;

  position: absolute;
  top: 10px;
  right: 10px;

  border-radius: 5px;

  gap: 20px;
}


.btn_close_notification {
  background: none;
  outline: none;
  border: none;
  background: var(--bg-opacity-2);
  color: white;

  cursor: pointer;
}
.btn_close_notification i {
  pointer-events: none;
}
.btn_close_notification:hover {
  background: var(--bg-opacity);
}