.user_dropdown {
  display: flex;
  align-items: center;
  
  padding: 10px;
  gap: 10px;
  border-radius: 3px;

  background: none;
  border: none;
  outline: none;

  color: var(--text-color-100);

  transition: all ease 130ms;

  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
}

.user_dropdown:hover {
  background: var(--bg-opacity-2);
}