.workspaces {
  display: flex;
  justify-content: start;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.workspace {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.top_workspaces {
  display: flex;
  justify-content: space-between;
}

.top_workspaces > h2 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.top_workspace {
  display: flex;
  justify-content: space-between;
  background: var(--bg-secondary);
  padding: 10px;
}

.projects_workspace {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.workspaces h2 {
  font-weight: 100;
  font-size: 1.5rem;
}

.projects_workspace {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  padding: 20px 40px;
}

.projects_workspace > .project {
  background: var(--bg-secondary);
  transition: background ease 130ms;
  text-decoration: none;
  color: var(--text-color-100);
  border-radius: 5px;
  position: relative;
  padding: 30px;
}
.projects_workspace > .project:hover {
  background: var(--bg-tertiary);
}

.projects_workspace > .project .content_project {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.projects_workspace > .project .content_project .description {
  font-size: 0.8rem;
}
.projects_workspace > .project .date {
  font-size: 0.6rem;
  right: 0;
  bottom: 0;
  position: absolute;
  border-radius: 5px;
  padding: 5px;
  color: var(--text-color-400)
}